manifest {
    mainScript = 'ont-bmod.nf'
    nextflowVersion = '>=22.01.0'
}

// default parameters
params {
    max_cores = Runtime.runtime.availableProcessors()
    cores = Runtime.runtime.availableProcessors().intdiv(4)
    memory = '16 GB'
    help = false
    profile = false

    //input
    fasta = ''
    bam = ''
    modkit_bed = ''
    list = false
    meta = false
    flow = 'main'

    // flow:main params
    filter_threshold_modkit = 0.75
    automatic_threshold_modkit = false
    bin_folder = false
    modkit_motifs = false
    percent_cutoff_modification_table = 0.5

    // flow:annotation params
    top_n = 30
    window_size = 500    
    step_size = 10        
    smoothing_window = 100  
    enrichment_threshold = 3
    modifications_annotation = "6mA,5mC,4mC"
    percent_modified_threshold_annotation = 0.5
    min_sites_annotation = 50
    percent_modified_threshold_promoter = 0.3
    promoter_analysis = false
    promoter_window = 250

    // flow:dmr wip

    //output
    outdir = "results"

    // location for storing singularity images
    singularityCacheDir = 'singularity'
    conda_cache_dir = 'conda'
}

profiles {
    ////////////////////////////////////////////////////
    // executors

    local {
        executor {
            name = "local"
            cpus = params.max_cores
            memory = params.memory
        }
        includeConfig 'configs/local.config'
    }

    slurm {
        executor {
            name = "slurm"
            queueSize = 100
            // exitReadTimeout = "360 sec"
            // submitRateLimit = '1 / 2 s'
            // pollInterval = '30 sec'
        }
        process.cache = "lenient"
        includeConfig 'configs/nodes.config'
    }

    slurm_priority {
        process {
            clusterOptions = '--partition=priority'
        }
    }

    ////////////////////////////////////////////////////
    // engines 

    docker {
        docker { 
            enabled = true
        }
        includeConfig 'configs/container.config'
    }

    singularity {
        singularity { 
                enabled = true
                autoMounts = true
                cacheDir = params.singularityCacheDir
                envWhitelist = "HTTPS_PROXY,HTTP_PROXY,http_proxy,https_proxy,FTP_PROXY,ftp_proxy"
        }
        includeConfig 'configs/container.config'
    }    

    conda { 
        conda {
            enabled = true
            cacheDir = params.conda_cache_dir
        }
        includeConfig 'configs/conda.config'
    }
    mamba { 
        conda {
            enabled = true
            useMamba = true
            cacheDir = params.conda_cache_dir
        }
        includeConfig 'configs/conda.config'
    }

    ////////////////////////////////////////////////////
    // test data profiles

    test {
        params {
            fasta = "${projectDir}/test_data/sample_test.fasta"
            bam   = "${projectDir}/test_data/sample_test.bam"
        }
    }

    test_meta {
        params {
            fasta      = "${projectDir}/test_data/meta_test.fasta"
            bam        = "${projectDir}/test_data/meta_test.bam"
            meta       = true
            bin_folder = "${projectDir}/test_data/bins"
        }
    }

    test_annotation {
        params {
            flow                                   = 'annotation'
            fasta                                  = "${projectDir}/test_data/sample_test.fasta"
            modkit_bed                             = "${projectDir}/test_data/annotation_test.bed"
            gff3                                   = "${projectDir}/test_data/annotation_test.gff3"
            min_sites_annotation                   = 20     // 5kb test window has too few sites at the 50 default
            enrichment_threshold                   = 2.0    // 5kb test window rarely clears the 3x default over background
        }
    }

    ////////////////////////////////////////////////////
    // pre-configured profile combinations
    // local execution with docker
    standard {
        executor {
            name = "local"
            cpus = params.max_cores
            memory = params.memory
        }
        docker { 
            enabled = true
        }
        includeConfig 'configs/local.config'
        includeConfig 'configs/container.config' 
    }


}

