process {
    withLabel: minimap2	    { conda = "$baseDir/envs/minimap2_samtools.yaml" } 
    withLabel: modkit    	{ conda = "$baseDir/envs/modkit.yaml" } 
    withLabel: modkit_low  	{ conda = "$baseDir/envs/modkit.yaml" }
    withLabel: biopython    { conda = "$baseDir/envs/biopython.yaml" }
    withLabel: annotation    { conda = "$baseDir/envs/annotation.yaml" }
    withLabel: ucsc_tools    { conda = "$baseDir/envs/ucsc_tools.yaml" }
}