process {
    withLabel: minimap2     { container = 'rkimf1/minimap2-samtools:2.28--4176384' } 
    withLabel: modkit       { container = 'rkimf1/modkit:0.6.3--5ad2d5a' }
    withLabel: modkit_low   { container = 'rkimf1/modkit:0.6.3--5ad2d5a' }
    withLabel: biopython    { container = 'rkimf1/biopython:3.8--ddb84ec' }
    withLabel: annotation   { container = 'rkimf1/biopython_pycirclize:3.10--27ad824' }
    withLabel: ucsc_tools   { container = 'quay.io/biocontainers/ucsc-bedgraphtobigwig:377--h446ed27_1' }
}
