process {
    withLabel: minimap2     { cpus = params.cores; memory = params.memory } 
    withLabel: modkit       { cpus = params.cores; memory = params.memory }
    withLabel: biopython    { cpus = params.cores; memory = params.memory }
    withLabel: publish      { cpus = 1; memory = params.memory }
    withLabel: modkit_low   { cpus = params.cores; memory = params.memory }
}
